.shop {
    margin-bottom: 100px;

    &__text {
        margin-bottom: 30px;
        background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
    }

    &__title{
        margin-top: 50px;
    }
}
