$light-grey: #cacad6;

.header {
    border-bottom: 1px solid var(--light-grey, $light-grey);
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;

    .menu_btn {
        width: 40px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        span {
            height: 2px;
            background-color: #070707;
            width: 100%;
        }
    }

    .menu {
        display: flex;
        gap: 0 20px;
        padding: 0px;
        justify-self: start;

        &.burger-menu-visible {
            display: flex; 
            flex-direction: column;
            gap: 10px;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background: #fff;
            padding: 10px;
            border: 1px solid #ccc;
        }
    }

    .logo {
        justify-self: center;
        display: flex;
        margin-left: 10px;
    }

    .menu__left_item {
        display: flex;
        justify-self: end;
        align-items: center;
        gap: 20px;

        .backet {
            position: relative;
        }
        .backet__on span {
            font-size: 11px;
            width: 15px;
            height: 15px;
            line-height: 0;
            background-color: #000;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            right: -2px;
        }
    }
}

@media screen and (max-width: 750px) {
    .nav {
        .menu_btn {
            display: flex;
        }

        .menu {
            display: none; 
        }
    }
}